*{
    background-color: #c3c1c4;
    
}

.fondo{
    position:relative;
    text-align: center;
    opacity: 70%;
    top:100px;
  
}

.encabezado{
    position: relative;
    top: -507px;
    left: -9px;
    border: 1px solid rgb(107, 106, 106);
    width: 100vw;
    height: 10vh;
    background-color: rgb(107, 106, 106);
}
.foto1{
    position: relative;
    
    width: 30%;
    top: -450px;
    }
.fortu_letra{
    position: relative;
    top: -460px;
    font-size: 20px;
    left: 140px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.fortuner{
    width: 100%;
}