*{
    background-color: #c3c1c4;
    
}

.fondo{
    position:relative;
    text-align: center;
    opacity: 70%;
    top:100px;
  
}

.encabezado{
    position: relative;
    top: -507px;
    left: -9px;
    border: 1px solid rgb(107, 106, 106);
    width: 100vw;
    height: 10vh;
    background-color: rgb(107, 106, 106);
}
.foto1{
    position: relative;
    
    width: 30%;
    top: -450px;
    }
.fortu_letra{
    position: relative;
    top: -500px;
    font-size: 27px;
    width: 20%;
    left: 100px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.fortuner{
    width: 90%;
    top: 30px;
    position: relative;
}
.foto2{
    position: relative;
    
    width: 10%;
    top: -750px;
}
.logo_toyota{
    position: relative;
   width: 200%;
   top:-90px;
   left: 90px;
}

.foto_supra{
    top: -810px;
    position: relative;
    left: 1100px;
}
.supra{
    width: 30%;
}

.supra_letra{
    position: relative;
    top: -820px;
    font-size: 27px;
    width: 20%;
    left: 1150px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.foto3{
    position: relative;
    
    width: 10%;
    top: -750px;
}
.logo_nissan{
   position: relative;
   width: 87%;
   top:-525px;
   left: 520px;
   ;
}