
body {
    font-family: Arial, sans-serif;
    background-image:url(https://img.freepik.com/vector-gratis/zoom-velocidad-tubo-luz-azul-abstracto-tecnologia-fondo-negro_1142-9980.jpg );
    text-align: center;
    margin: 0;
    padding:0;
        
}


.fondo img {
    width: 180px;
    margin: 10px auto;
    margin-bottom: -20px;
    margin-top: -20px;
    background-color: rgb(255, 255, 255);
}


.foto2 {
    width: 100%;
    background-color: #000000;
    padding: 15px;
    top: 20px;
    position: relative;
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 15px;
}


.foto1{
    background-color: white;
    padding: 15px;
    margin: 15px auto;
    width: 90%;
    max-width: 400px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}
.foto_supra{
    background-color: white;
    padding: 15px;
    margin: 15px auto;
    width: 90%;
    max-width: 400px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}
.foto5 {
    background-color: white;
    padding: 15px;
    margin: 15px auto;
    width: 90%;
    max-width: 400px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}
.foto6 {
    background-color: white;
    padding: 15px;
    margin: 15px auto;
    width: 90%;
    max-width: 400px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}
.fortuner {
    width: 80%;
    max-width: 350px;
}

.supra {
    width: 100%; 
    max-width: 380px;
}

.skline {
    width: 90%;
    max-width: 400px;
}


li {
    list-style: none;
    margin: 10px 0;
}

li a {
    text-decoration: none;
    color: white;
    background-color: #000000;
    padding: 12px 18px;
    border-radius: 5px;
    display: inline-block;
    margin-top: 8px;
    font-weight: bold;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.4s ease, background-color 0.4s ease, box-shadow 0.4s ease;

}

li a:hover {
    transform: scale(1.1);
    background-color: #ff0101;
    box-shadow: 2px 2px 20px black;
}

